{% extends "base.jinja" %}

{% block title %}Select a Textbook{% endblock %}

{% block body %}
  <div class="mx-auto mt-10 grid w-[80ch] grid-cols-1 gap-2">
    <div class="flex items-center justify-between">
      <h1>Select a Textbook</h1>
      <!-- button
        id="importButton"
        class="cursor-pointer rounded-xl bg-blue-400 p-2 text-white transition-all duration-75 hover:bg-blue-300"
      >
        Import Textbook
      </button -->
    </div>
    <div>
      {% for textbook in textbooks | sort(attribute="name") %}
        <Card
          :hx-get="request.url_for('get_textbook_topics', textbook_guid=textbook.guid)"
          hx-target="body"
          hx-push-url="true"
          clickable
        >
          <div class="flex justify-between">
            <h2>{{ textbook.title }}</h2>
            <a
              href="{{ request.url_for('get_textbook', textbook_guid=textbook.guid) }}"
              class="cursor-pointer rounded-xl bg-blue-400 p-2 text-white transition-all duration-75 hover:bg-blue-300"
              >Details <i class="fa-solid fa-circle-info"></i></a
            >
          </div>
          <p>By: {{ (textbook.authors) }}</p>
          <p>Topics: {{ len(textbook.topics) }}</p>
          <p>Activities: {{ len(textbook.activities) }}</p>
          
        </Card>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    document
      .getElementById("importButton")
      .addEventListener("click", function () {
        let input = document.createElement("input");
        input.type = "file";
        input.accept = ".json,.gt";
        input.addEventListener("change", function () {
          if (input.files.length > 0) {
            let formData = new FormData();
            formData.append("textbook_file", input.files[0]);

            fetch("/import/textbook", {
              method: "POST",
              body: formData,
            })
              .then((response) => {
                window.location.reload();
              })
              .catch((error) => console.error("Error:", error));
          }
        });
        input.click();
      });
  </script>
{% endblock %}
