{% extends "base.jinja" %}

{% block title %}GOLE Details{% endblock %}

{% block body %}
  <div class="central-content">
    <div class="flex w-full items-center justify-between">
      <h1>{{ textbook.title }}</h1>
      <p>
        <a
          class="cursor-pointer rounded-xl bg-blue-400 p-2 text-white transition-all duration-75 hover:bg-blue-300"
          href="{{ request.url_for('get_textbooks') }}"
          >Return to GOLEs</a
        >
      </p>
    </div>
    <h2>Authors</h2>
    <div>{{ textbook.authors }}</div>
    <h2>Reviewers</h2>
    <div>{{ textbook.reviewers }}</div>
    <h2>Topics</h2>
    <div>
      {% for topic in textbook.topics|sort(attribute="name") %}
        <p>{{ topic.name }}</p>
        <p class="ml-5">By: {{ topic.authors }}</p>
        <p class="ml-5">License: {{ topic.license }}</p>
      {% endfor %}
    </div>
    <h2>Activities</h2>
    <div>
      {% for activity in textbook.activities|sort(attribute="name") %}
        <p>{{ activity.name }}</p>
        <p class="ml-5">By: {{ activity.authors }}</p>
        <p class="ml-5">Sources: {{ activity.license }}</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
