{% extends "base.jinja" %}

{% block title %}Select a Course{% endblock %}

{% block body %}
  <div class="central-content">
    <div class="mb-5 flex w-full items-center justify-between">
      <h1>Select a Course</h1>
    </div>
    <div class="vertical-list">
      {% for textbook in textbooks | sort(attribute="title") %}
        <card.Textbook
          :textbook="textbook"
          :request="request"
          :show_add="SETTINGS.authorization" />
      {% endfor %}
    </div>
  </div>
{% endblock %}
