{% extends "base.jinja" %}

{% block title %}Select a Course{% endblock %}

{% block body %}
  <div class="mx-auto mt-10 grid w-[80ch] grid-cols-1 gap-2">
    <h1>Select a Course</h1>
    <div class="mb-5">
      {% for textbook in textbooks | sort(attribute="name") %}
        <Card
          :hx-get="request.url_for('get_textbook_topics', textbook_guid=textbook.guid)"
          hx-target="body"
          hx-push-url="true"
          clickable>
          <div class="flex justify-between">
            <h2>{{ textbook.title }}</h2>
            <a
              href="{{ request.url_for('get_textbook', textbook_guid=textbook.guid) }}"
              class="cursor-pointer rounded-xl bg-blue-400 p-2 text-white transition-all duration-75 hover:bg-blue-300"
              >Details <i class="fa-solid fa-circle-info"></i
            ></a>
          </div>
          <p>By: {{ (textbook.authors) }}</p>
          <p>Topics: {{ len(textbook.topics) }}</p>
          <p>Activities: {{ len(textbook.activities) }}</p>
        </Card>
      {% endfor %}
    </div>
  </div>
{% endblock %}
