{% extends "base.jinja" %}

{% block title %}Select a Generative Textbook{% endblock %}

{% block body %}
  <div class="central-content">
    <div class="mb-5 flex w-full items-center justify-between">
      <h1>Select a Generative Textbook</h1>
    </div>
    <div class="vertical-list">
      {% for textbook in textbooks | selectattr("status", "equalto", "published")  | sort(attribute="title") %}
        <card.Textbook
          :textbook="textbook"
          :request="request"
          :show_add="request.session.get('user_email')" />
      {% endfor %}
    </div>
  </div>
{% endblock %}
