{# def request #}

{% if SETTINGS.authorization %}
  {% if request.session.get("user_email") %}
    {% set homepage_url = request.url_for('current_user') %}
  {% else %}
    {% set homepage_url = request.url_for('get_textbooks') %}
  {% endif %}
{% else %}
  {% set homepage_url = request.url_for('get_textbooks') %}
{% endif %}

<nav class="h-nav-height bg-sky-600 px-5" hx-boost="true">
  <ul
    class="flex h-full items-center justify-between gap-5 text-white [&_a]:decoration-white [&_a]:decoration-2">
    <li>
      <a class="underlined" href="{{ homepage_url }}">GOLE Studio</a>
    </li>

    <div class="flex gap-5">
      {% if SETTINGS.authorization %}
        <li>
          {% if request.session.get("user_email") %}
            <a class="underlined" href="{{ request.url_for('logout') }}"
              >Logout</a
            >
          {% else %}
            <a class="underlined" href="{{ request.url_for('login') }}"
              >Login</a
            >
          {% endif %}
        </li>
      {% endif %}

      <li>
        <a
          class="underlined flex items-center gap-2"
          href="https://github.com/kalendar/treebeard"
          >Get Involved
          <img
            class="inline-block h-5"
            src="https://cdn.simpleicons.org/github/white"
        /></a>
      </li>
    </div>
  </ul>
</nav>
