{# def request #}

<nav
  class="flex h-nav-height items-center justify-between gap-5 bg-sky-600 px-5"
  hx-boost="true">
  <ul>
    <li>
      <a class="text-white" href="{{ request.url_for('get_textbooks') }}"
        >GOLE Studio</a
      >
    </li>
  </ul>
  <ul>
    <li>
      <a class="text-white" href="https://github.com/kalendar/treebeard"
        >Get Involved <i class="fa-brands fa-github"></i
      ></a>
    </li>
  </ul>
</nav>
