{% extends "base.jinja" %}

{% block title %}
  Create Activity
{% endblock %}

{% block body %}
  <div class="central-content">
    <form
      method="post"
      action="{{ request.url_for('update_activity_post', ident=activity.guid) }}"
      class="vertical-list">
      <div>
        <label for="name" class="flex items-center gap-0.5 text-lg font-bold"
          >Activity Name
          <Tooltip>
            This is the name of the activity. It will be shown to learners.
          </Tooltip>
        </label>
        <form.TextInput
          name="name"
          id="name"
          required
          :value="{{ activity.name if activity }}"
          placeholder="This is the name of the activity. It will be shown to learners." />
      </div>
      <input
        type="text"
        name="textbook_guid"
        id="name"
        required
        hidden
        value="{{ textbook_ident }}" />
      <div>
        <label
          for="description"
          class="flex items-center gap-0.5 text-lg font-bold"
          >Activity Description
          <Tooltip>
            This is the description of the activity. It will be shown to
            learners.
          </Tooltip>
        </label>
        <p class="token-count">Tokens: 0</p>
        <div
          id="description"
          class="token-field pell"
          data-content="{{ activity.description if activity else '' }}"></div>
        <textarea
          name="description"
          id="textarea-description"
          required
          hidden></textarea>
      </div>
      <div>
        <label for="prompt" class="flex items-center gap-0.5 text-lg font-bold"
          >Activity Prompt
          <Tooltip>
            These instructions will be added to the system prompt stub and sent
            to the LLM. They will not be shown to learners. The instructions
            should describe an evidence-based teaching or study practice in
            enough detail for the LLM to be able to faithfully implement the
            practice with learners.
          </Tooltip>
        </label>
        <p class="token-count">Tokens: 0</p>
        <div
          id="prompt"
          class="pell"
          data-content="{{ activity.prompt|e if activity else '' }}"></div>
        <textarea name="prompt" id="textarea-prompt" required hidden></textarea>
      </div>
      <div>
        <label for="sources" class="flex items-center gap-0.5 text-lg font-bold"
          >Activity Sources
          <Tooltip>
            Here you can optionally include any sources you referenced in the
            creation of this Activity. If you're attributing an OER, make sure
            to include a Title, Author, Source (URL), and License as per the
            Creative Commons best practices for attribution.
          </Tooltip>
        </label>
        <div
          id="sources"
          class="pell"
          data-content="{{ activity.sources if activity else '' }}"></div>
        <textarea
          name="sources"
          id="textarea-sources"
          required
          hidden></textarea>
      </div>
      <div>
        <label for="authors" class="flex items-center gap-0.5 text-lg font-bold"
          >Activity Authors
          <Tooltip>
            List all the authors who contributed to this Activity. One name per
            line.
          </Tooltip>
        </label>
        <div
          name="authors"
          id="authors"
          class="pell"
          data-content="{{ activity.authors if activity else '' }}"></div>
        <textarea
          name="authors"
          id="textarea-authors"
          required
          hidden></textarea>
      </div>
      <div>
        <label for="license" class="flex items-center gap-0.5 text-lg font-bold"
          >Activity License
          <Tooltip
            >Choose the terms under which you wish to share this Activity.
          </Tooltip>
        </label>
        <select
          name="license"
          id="license"
          class="w-full overflow-y-auto rounded border border-b-blue-950 bg-gray-50 p-2">
          {% for license in LICENSES %}
            <option
              value="{{ license }}"
              {{ 'selected' if activity and activity.license == license }}>
              {{ LICENSE_MAP[license] }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label
          for="topic_guids"
          class="flex items-center gap-0.5 text-lg font-bold"
          >Compatible Topics
          <Tooltip>
            Select the topics this activity is compatible with.
          </Tooltip>
        </label>
        <select
          name="topic_guids"
          id="topic_guids"
          multiple
          class="h-40 w-full overflow-y-auto rounded border border-b-blue-950 bg-gray-50 p-2">
          {% for topic in topics %}
            <option
              value="{{ topic.guid }}"
              class="px-2 focus:bg-gray-100"
              {{ 'selected' if activity and topic in activity.topics }}>
              {{ topic.name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <input
        type="submit"
        value="{{ 'Create Activity' if not submission_text else submission_text }}"
        class="cursor-pointer rounded border-2 border-sky-600 bg-sky-600 px-2 py-1 text-white transition duration-100 hover:bg-sky-500" />
      <BackButton />
    </form>
  </div>
{% endblock %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/turndown@7.2.0/dist/turndown.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"
    integrity="sha256-iOtvu+DCcN3zOEruDJYg0HDgkKJuB8Z0Ia42yQO11kk="
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/pell@1.0.6/dist/pell.min.js"
    integrity="sha256-4MPHeF2wFDMM9rzwTsz5Q8wfveOTZt7mtPmXeOlhmn0="
    crossorigin="anonymous"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/pell@1.0.6/dist/pell.min.css"
    integrity="sha256-Ld2o3+6zr33AQFbMa5nmnjrvJ+OgdEqYa72WW3LJcto="
    crossorigin="anonymous" />
  <script src="{{ request.url_for('static', path='js/PellInputs.js') }}"></script>
{% endblock %}
