{% extends "base.jinja" %}

{% block title %}GOLE Studio{% endblock %}

{% block body %}
  <div class="central-content">
    <h1>GOLE Studio</h1>
    <p class="font-light text-gray-500">
      Currently logged in as: {{ request.session.get("user_email") }}
    </p>

    <br />

    <h2 class="mb-3">Study</h2>
    <div class="grid grid-cols-2 gap-5">
      <Card :href="{{ request.url_for('saved_textbooks') }}">
        <p class="underlined">Your Saved GOLEs</p>
      </Card>

      <Card :href="{{ request.url_for('get_textbooks') }}">
        <p class="underlined">Browse All GOLEs</p>
      </Card>
    </div>


    <br />

    <h2 class="mb-3">Author</h2>
    <div class="grid grid-cols-2 gap-5">
      <Card :href="{{ request.url_for('textbooks') }}">
        <p class="underlined">Create or Update a GOLE</p>
      </Card>
    </div>

    <!--
    <a class="underlined" href="{{ request.url_for('owned_textbooks') }}"
      >Owned Courses</a
    >
    -->
  </div>
{% endblock %}
