{% extends "base.jinja" %}

{% block title %}Your Saved Generative Textbooks{% endblock %}

{% block body %}
  <div class="max-w-5xl w-full mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-8">
    <h1 class="mb-5 text-2xl sm:text-3xl font-bold text-center">Your Saved Generative Textbooks</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      {% for textbook in textbooks | sort(attribute="title") %}
        <card.Textbook
          :textbook="textbook"
          :request="request"
          :show_add="False" />
      {% endfor %}
    </div>
  </div>
{% endblock %}
