{% extends "base.jinja" %}

{% block title %}
  Generative Textbook: {{ textbook.title }}
{% endblock %}

{% block body %}
  <div class="max-w-5xl w-full mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-8">
    <div class="flex flex-col sm:flex-row w-full items-center justify-between gap-2 sm:gap-0 mb-6">
      <h1 class="text-2xl sm:text-3xl font-bold text-center w-full mb-2 sm:mb-0">{{ textbook.title }}</h1>
      
    </div>
    <Card
      class="group flex justify-between !rounded !border-gray-300 bg-gray-50 p-2 transition-colors duration-75 hover:bg-white mb-6"
      :href="{{ request.url_for('update_textbook_get', ident=textbook.guid) }}">
      <p class="underlined">Details</p>
    </Card>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col sm:flex-row items-center justify-center mt-5 gap-2 p-2 max-w-md mx-auto">
        <h2 class="text-xl font-semibold">Topics</h2>
        <AButton
          :href="{{ request.url_for('create_topic_get', textbook_ident=textbook.guid) }}"
          color="none"
          circular
          class="border-sky-600 text-sky-600 hover:border-sky-700 hover:text-sky-700"
          icon="create" />
      </div>
      <div id="sortable-topics" class="flex flex-col gap-2">
        {% for topic in textbook.topics %}
          <Card
            class="group flex items-center justify-between gap-2 !rounded !border-gray-200 bg-gray-50 p-2 transition-colors duration-75 hover:bg-white"
            :data-guid="topic.guid"
            :href="request.url_for('update_topic_get', topic_ident=topic.guid, textbook_ident=topic.textbook_guid)">
            <i
              class="sortable-handle text-gray-300 hover:text-gray-400"
              data-lucide="grip-vertical"></i>
            <p class="underlined">{{ topic.name }}</p>
            <div class="grow"></div>
            <AButton
              :hx-post="request.url_for('delete_topic', ident=topic.guid)"
              color="none"
              icon="delete"
              circular
              class="scale-80 border-red-500 text-red-500 opacity-0 group-hover:scale-100 group-hover:opacity-100 hover:border-red-600 hover:text-red-600"
              hx-confirm="Are you sure you want to delete this topic?" />
          </Card>
        {% endfor %}
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="flex flex-col sm:flex-row items-center justify-center mt-10 gap-2 p-2 max-w-md mx-auto">
        <h2 class="text-xl font-semibold">Activities</h2>
        <AButton
          :href="request.url_for('create_activity_get', textbook_ident=textbook.guid)"
          color="none"
          circular
          class="border-sky-500 text-sky-600 hover:border-sky-700 hover:text-sky-700"
          icon="create" />
      </div>
      <div id="sortable-activities" class="flex flex-col gap-2">
        {% for activity in textbook.activities %}
          <Card
            class="group flex items-center justify-between gap-2 !rounded !border-gray-200 bg-gray-50 p-2 transition-colors duration-75 hover:bg-white"
            :data-guid="activity.guid"
            :href="request.url_for('update_activity_get', activity_ident=activity.guid, textbook_ident=activity.textbook_guid)">
            <i
              class="sortable-handle text-gray-300 hover:text-gray-400"
              data-lucide="grip-vertical"></i>
            <p class="underlined">{{ activity.name }}</p>
            <div class="grow"></div>
            <AButton
              :hx-post="request.url_for('delete_activity', ident=activity.guid)"
              color="none"
              icon="delete"
              circular
              class="scale-80 border-red-500 text-red-500 opacity-0 group-hover:scale-100 group-hover:opacity-100 hover:border-red-600 hover:text-red-600"
              hx-confirm="Are you sure you want to delete this activity?" />
          </Card>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-2 max-w-md mx-auto w-full mt-8">
    <AButton
      :hx-post="request.url_for('delete_textbook', ident=textbook.guid)"
      color="red"
      class="w-full text-center text-base"
      hx-confirm="This will delete the entire textbook. Are you sure you want to do that?">
      Danger Zone: Delete This Textbook?
    </AButton>
  </div>
{% endblock %}

{% block script %}
  <script>
    var sortableTopics = document.getElementById("sortable-topics");
    var sortableActivities = document.getElementById("sortable-activities");

    new Sortable(sortableTopics, {
      handle: ".sortable-handle",
      dataIdAttr: "data-guid",
      animation: 150,
      onEnd: function (evt) {
        if (evt.oldIndex != evt.newIndex) {
          fetch("{{request.url_for('reorder_topics')}}", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(this.toArray()),
          }).catch((error) => {
            console.error("Fetch error:", error);
          });
        }
      },
    });

    new Sortable(sortableActivities, {
      handle: ".sortable-handle",
      dataIdAttr: "data-guid",
      animation: 150,
      onEnd: function (evt) {
        if (evt.oldIndex != evt.newIndex) {
          fetch("{{request.url_for('reorder_activities')}}", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(this.toArray()),
          }).catch((error) => {
            console.error("Fetch error:", error);
          });
        }
      },
    });
  </script>
{% endblock %}
