@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --color-background: #eceff1; /* #f3f4f6; /* Very light gray for calm readability */
}

.bg-theme {
  background-color: var(--color-background);
}

@theme inline {
  --spacing-nav-height: calc(var(--spacing) * 10);
  --spacing-content-height: calc(100vh - var(--spacing-nav-height));
}

@layer utilities {
  .scrollbar {
    scrollbar-color: var(--color-gray-200) #ffffff00;
  }

  .grid-cols-adaptive {
    @apply grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

h1 {
  @apply text-2xl font-extrabold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-lg font-normal;
}

code {
  @apply inline-block w-fit max-w-full overflow-x-scroll rounded-lg border border-gray-200 bg-gray-100 p-2;
}
