{# def text="", icon="", color="blue" #}
{# 
  This component has some predefined colors and icons:
    Colors: red, green, blue
    Icons: create, edit, delete. 
#}
{% set icon = icon.strip().lower() %}
{% set color = color.strip().lower() %}
{% set div_attrs = HTMLAttrs({"class":attrs.get("class")}) %}
{% do div_attrs.set(class="cursor-pointer rounded px-2 py-1 text-sm text-white transition duration-100 border flex items-center justify-center") %}

{% if icon == 'edit' %}
  {% do attrs.set(class="fa-solid fa-pen-to-square") %}
{% elif icon == 'create' %}
  {% do attrs.set(class="fa-solid fa-plus") %}
{% elif icon == 'delete' %}
  {% do attrs.set(class="fa-solid fa-xmark") %}
{% endif %}

{% if color == 'green' %}
  {% do div_attrs.set(class="border-green-700 bg-green-600 hover:bg-green-500") %}
{% elif color == 'blue' %}
  {% do div_attrs.set(class="border-sky-700 bg-sky-600 hover:bg-sky-500") %}
{% elif color == 'red' %}
  {% do div_attrs.set(class="border-red-500 bg-red-400 hover:bg-red-600") %}
{% elif color == 'gray' %}
  {% do div_attrs.set(class="border-gray-400 bg-gray-200 hover:bg-gray-300") %}
{% endif %}

{% if text == '' and content == "" %}
  {% do div_attrs.set(class="aspect-square") %}
{% endif %}

<div
  {{ div_attrs.render() }}
  {% if attrs.get("href") %}
    onclick="window.location.replace('{{ attrs.get("href") }}')"
  {% endif %}>
  <a {{ attrs.render() }}> {{ text }} {{ content }}</a>
</div>
