{# def title = None, clickable = False #}
{% do attrs.set(class="w-full rounded-xl border-1 border-gray-300 bg-gray-50 p-3") %}
{% if clickable %}
  {% do attrs.set(class="hover:scale-[101%] transition-all duration-75 cursor-pointer") %}
{% endif %}

<div {{ attrs.render() }}>
  {% if title %}
    <p class="text-xl font-semibold">{{ title }}</p>
  {% endif %}
  {{ content }}
</div>
