{# def role="assistant" #}
{% set class="max-w-[70%] rounded-xl p-3 prose prose-sm w-fit" %}
{% if role == "assistant" %}
  {% set class = class + " bg-gray-50" %}
{% elif role == "user" %}
  {% set class = class + " ml-auto bg-blue-400 text-white prose-invert" %}
{% endif %}

<div class="{{ class }}" {{ attrs.render() }}>{{ content }}</div>
