{% extends "base.jinja" %}

{% block title %}Login{% endblock %}

{% block body %}
  <div class="mx-auto mt-10 grid w-[40ch] grid-cols-1 gap-2">
    <h1 class="w-full text-center">Login With</h1>
    <br />
    {% if SETTINGS.google_oauth %}
      <AButton
        :href="{{ request.url_for('login_via_google') }}"
        class="rounded-xl p-5 text-xl font-semibold text-black"
        color="gray">
        Google
      </AButton>
    {% endif %}

    {% if SETTINGS.github_oauth %}
      <AButton
        :href="{{ request.url_for('login_via_github') }}"
        class="rounded-xl p-5 text-xl font-semibold text-black"
        color="gray">
        Github
      </AButton>
    {% endif %}
  </div>
{% endblock %}
