<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Generative Textbooks{% endblock %}</title>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.4/dist/htmx.min.js"
      integrity="sha256-4gndpcgjVHnzFm3vx3UOHbzVpcGAi3eS/C5nM3aPtEc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/autosize@6.0.1/dist/autosize.min.js"
      integrity="sha256-VCHx3GCDnd156mCM5EM9bJTj7mhMrrwg2tAab9B1vQs="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/ef85783db9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <Navbar :request="request" />
    <main class="h-full w-full">
      {% block body %}
      {% endblock %}
    </main>
  </body>
  {% block script %}
  {% endblock %}
</html>
