{% extends "base.html" %}

{% block title %}OELM - Select Topic{% endblock %}
{% block body %}
  <div class="container">
    <div class="navigation">
      <a
        class="back-link"
        href="{{ request.url_for('select_course') }}"
        hx-boost="true"
        hx-push-url="true"
        >← Back to Courses</a
      >
    </div>
    <h2>Select a Topic in {{ to_title(selected_course.name) }}</h2>
    <div class="topics">
      {% for topic_name, topic in selected_course.topics.items() %}
        <div
          class="topic-card"
          hx-get="{{ request.url_for('select_activity', course_name=selected_course.name, topic_name=topic_name) }}"
          hx-target="body"
          hx-push-url="true"
        >
          <h3>{{ to_title(topic.name) }}</h3>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
