{% extends "base.html" %}

{% block title %}Select Activity{% endblock %}
{% block body %}
  <div class="container">
    <div class="navigation">
      <a
        class="back-link"
        href="{{ request.url_for('select_topic', course_name=course_name) }}"
        hx-boost="true"
        hx-push-url="true"
        >← Back to Topics</a
      >
    </div>
    <h2>Select an Activity for {{ to_title(topic_name) }}</h2>
    <div class="activities">
      {% for activity_name, activity in selected_course.activities.items() %}
        <div
          class="activity-card"
          hx-get="{{ request.url_for('chat', course_name=course_name, topic_name=topic_name, activity_name=activity.name) }}"
          hx-target="body"
          hx-push-url="true"
        >
          <h3>{{ activity.name.replace("_", " ").title() }}</h3>
          <div class="markdown-content">
            {{ markdown_to_html(activity.description) | safe }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
