{# def activity, textbook, topic, request, tokens="Unknown", price="Unknown" #}

<Card
  :title="activity.name"
  :hx-get="request.url_for('get_chat', textbook_guid=textbook.guid, topic_guid=topic.guid, activity_guid=activity.guid)"
  hx-target="body"
  hx-push-url="true"
  clickable>
  <div class="flex gap-2 text-gray-500">
    <p>Tokens: {{ tokens }}</p>
    {# <p>Initial Price: ${{ "%.2g"|format(price) }}</p> #}
  </div>
  <p class="mt-2">{{ markdown_to_html(activity.description) | safe }}</p>
</Card>
